* {
  margin: 0;
  padding: 0;
  font-size: monospace;
}

body {
  background-color: #ff6600;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

main {
  width: 80vw;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  padding: 5px;
  width: 200px;

  background-color: #fff;
  border: 5px solid #000;
  box-shadow: 0.5em 0.5em #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;

  aspect-ratio: 1;
}

.card > img {
  width: 5em;
}

.card > h2 {
  font-size: 2em;
}

.btns {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.btns > button {
  background-color: #100;
  color: #fff;
  padding: 10px;
  font-size: 1.5em;
  border: 2px solid #fff;
}

.btns > button:active {
  transform: scale(0.8);
}
