<main>
  <%= image_tag "mailman.svg" %>
  <h1>check your email</h1>
  <p>you should recieve an email with a link that will allow you to sign in</p>
  <a href="/" class="btn btn-primary">go to homepage</a>
</main>

<style>
  main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }

  main > img {
    width: 20rem;
  }
</style>
