<main class="auth">
  <a href="/">
    <%= image_tag "tally-tool.svg", class: "auth__logo" %>
  </a>
  <h1 class="auth__title">welcome to <span>tally tool!</span></h1>
  <%= render "form", user: @user %>
</main>

<style>
  .auth {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }

  .auth__logo {
    width: 10rem;
  }

  .auth__title span {
    color: var(--black);
  }
</style>
