<p style="color: green"><%= notice %></p>

<h1 class="title">Namespaces</h1>

<section class="namespaces-list">
  <div class="new-namespace">
    <%= link_to "New Namespace", new_namespace_path %>
  </div>
  <%= render @namespaces %>
</section>
