/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Chakra Petch:700|Chakra Petch:400');

body {
  font-family: 'Chakra Petch';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Chakra Petch';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --orange: #ff6600;
  --white: #fff;
  --black: #000;
  --red: red;
}

body {
  color: var(--white);
  background-color: var(--orange);
}

a {
  color: inherit;
  text-decoration: none;
}

.brutal {
  border: 3px solid var(--black);
  box-shadow: 3px 4px var(--black);
  border-radius: 10px;
}

.btn {
  padding: 0.5rem 1rem;
  border: 3px solid var(--black);
  box-shadow: 3px 4px var(--black);
  border-radius: 10px;
}

.btn-primary {
  color: var(--black);
  background-color: var(--orange);
}

.btn-secondary {
  color: var(--black);
  background-color: var(--white);
}

.btn-destroy {
  background-color: var(--red);
}

.highlight-text {
  color: var(--black);
  font-size: 7rem;
}

form {
  min-width: 400px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

form > .container {
  gap: .3rem;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 3px solid var(--black);
  box-shadow: 3px 4px var(--black);
  border-radius: 10px;

  transition: 100ms;
}

input:focus {
  box-shadow: none;
}

input[type="submit"] {
  background-color: var(--orange);
}

input[type="submit"]:hover {
  transform: scaleY(1.1);
}

.errors {
  color: var(--white);
  background-color: red;

  font-weight: bolder;

  width: 100%;
  padding: 0.5rem 1rem;
  border: 3px solid var(--black);
  box-shadow: 3px 4px var(--black);
  border-radius: 10px;
}
