<a href="<%= namespace_path namespace %>" class="namespace" id="<%= dom_id namespace %>">
  <h1>
    <%= namespace.name %>
  </h1>

  <p>
    <%= pluralize namespace.tallies.count, "tally" %>
  </p>
</a>
