<a href="<%= namespace_path namespace %>" class="namespace brutal" id="<%= dom_id namespace %>">
  <h3 class="namespace__title">
    <%= namespace.name %>
  </h3>

  <p>
    <%= pluralize namespace.tallies.count, "tally" %>
  </p>
</a>
