<h1>Editing namespace</h1>

<%= render "form", namespace: @namespace %>

<br>

<div>
  <%= link_to "Show this namespace", @namespace %> |
  <%= link_to "Back to namespaces", namespaces_path %>
</div>
