<header class="header">
  <div class="header__main brutal">
    <a href="/" class="header__logo brutal">
      <%= image_tag "tally-tool.svg", class: "header__logo__img" %>
      <span class="header__logo__text">TALLY TOOL</span>
    </a>

    <nav class="header__nav">
      <%= link_to "back to namespaces", namespaces_path, class: "btn btn-primary" %>
    </nav>
  </div>
</header>

<style>
  .header {
    padding: 1rem;
  }

  .header__main {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--black);
    background-color: var(--white);
  }

  .header__logo {
    display: flex;
    align-items: center;
    background-color: var(--orange);
    padding: 1rem;
    border-radius: 10px;
    color: var(--white);
    font-weight: bold;
  }

  .header__logo__img {
    width: 4rem;
  }

  .header__logo__text {
    font-size: 2rem;
  }

  .header__nav {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>

<main class="page">
  <h1 class="page__title">New namespace</h1>

  <div class="form-container">
    <%= render "form", namespace: @namespace %>
  </div>
</main>

<style>
  .page {
    margin: 0 auto;
    width: 90vw;
  }

  .page__title {
    border-bottom: 5px solid var(--white);
  }

  .form-container {
    padding-top: 2rem;
    width: fit-content;
  }
</style>
